<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ultra.cs.dao.SystemConfigDao">
	<resultMap type="com.ultra.cs.model.SystemConfig" id="Base_Result_Map">
		<id column="id_" property="id"/>
		<result column="name_" property="name"/>
		<result column="order_" property="order"/>
		<result column="icon_" property="icon"/>
	</resultMap>

	<insert id="insert" parameterType="com.ultra.cs.model.SystemConfig" useGeneratedKeys="true" keyProperty="id" keyColumn="id_" >
		insert into cs_system_config(
			name_,
			order_,
			icon_
		)values(
			#{name},
			#{order}
			#{icon},
			#{iconPre}
		)
	</insert>
	
	<update id="update" parameterType="com.ultra.cs.model.SystemConfig" >
		update cs_system_config t
			set t.name_=#{name},
				t.order_=#{order},
				t.icon_=#{icon}
		  where t.id_=#{id}
	</update>
	
	<delete id="delete" parameterType="long">
		delete t from cs_system_config t where t.id_=#{id}
	</delete>
	
	<select id="listSystem" resultMap="Base_Result_Map" >
		select t.id_,
			   t.name_,
			   t.order_,
			   t.icon_
			from cs_system_config t
		  order by t.order_ asc
	</select>
	
	<select id="getById" parameterType="long" resultMap="Base_Result_Map">
		select t.id_,
			   t.name_,
			   t.order_,
			   t.icon_
			from cs_system_config t
		  where t.id_=#{id}
	</select>
	
</mapper>